name: Deploy to Production

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.11"

            - name: Install dependencies
              run: pip install -r requirements.txt

            - name: Create release folder
              run: |
                  RELEASE=$(date +%Y-%m-%d-%H%M%S)
                  echo "RELEASE=$RELEASE" >> $GITHUB_ENV

            - name: Deploy to server
              uses: appleboy/ssh-action@v1.0.3
              with:
                  host: ${{ secrets.DEPLOY_HOST }}
                  username: ${{ secrets.DEPLOY_USER }}
                  password: ${{ secrets.DEPLOY_KEY }}
                  script: |
                      cd /home/django/hajeen-django/
                      git pull
                      pip install -r requirements.txt
                      python manage.py migrate
                      python manage.py collectstatic --noinput
                      sudo systemctl restart gunicorn
                      sudo systemctl restart nginx
